# Environment Variables and API keys
.env*

# Results directory
results/

# AI Coding Tools
.claude

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Distribution files
dist/
build/
*.egg-info/
.eggs/

# npm packages
**/node_modules/

# vite
**/dist/
**/dist-ssr/
**/node_modules/.vite
**/.vite
**/.vite-env
