# MacOs
.DS_Store

# Environment Variables and API keys
.env*

# Application state
.annotator_state.json
*.db

# AI Coding Tools
.claude
.factory
.playwright-mcp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python

# Distribution files
dist/
build/
*.egg-info/
.eggs/

# npm packages
**/node_modules/

# vite
**/dist/
**/dist-ssr/
**/node_modules/.vite
**/.vite
**/.vite-env

# vite build info
**/tsconfig.tsbuildinfo

# analysis files
/*.csv
logs/
